@import "./styles/base.css";
@import "./styles/components/section.css";
@import "./styles/components/logo.css";
@import "./styles/components/navbar.css";
@import "./styles/components/ui.css";
@import "./styles/components/phone.css";
@import "./styles/components/carousel.css";
@import "./styles/components/cta.css";
@import "./styles/components/footer.css";
@import "./styles/pages/home.css";
@import "./styles/pages/features.css";
@import "./styles/responsive.css";
